.delivery-info {
    font-size: 18px;
    color: #131313;
  }
  a {
    color: rgb(0,113,133);
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
  }
  .product-name {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
  }
  .price {
    font-size: 18 px;
    font-weight: bold;
    color: #279d15;
  }
.price:hover {
    color: #ff9900;
  }
  .cart-button {
    background-color: rgb(255,216,20);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px;
    height: 45px;
    width: 150px;
    border-radius: 20px;
    font-size: 14px;  
    font-weight: bold;
  }
  
  .buy-button {
    background-color: rgb(255,164,28  );
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    height: 45px;
    width: 150px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
  } 