
    .thumbnail {
      width: 100%;
      } 
      


    .video-author{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 400;

 

    }
    .video-stats{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 400;
    }
      .video-title{
        margin-top: 0px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 8px;
      }
      
            
              
            
            .video-info-grid{
              display: grid;
            grid-template-columns: 50px 1fr;
            }
            .channel-picture{
              
              
              
              vertical-align: top;
              
              
            }
            .video-info{
             
              
              vertical-align: top;
              
              
            }
            .profile-picture{
              width: 34px;
              border-radius: 50%;
            
            }
      .thumbnail-row{
        margin-bottom: 8px;
        position: relative;
       

      }
      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
      row-gap: 40px;
     
      }
      @media (max-width: 800px){
             .video-grid{ grid-template-columns: 1fr 1fr;

             }
      }
      @media (min-width:1200px) {
        .video-grid{
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        
      }
      
      
      .video-duration{
        background-color: rgb(9, 9, 9);
        color: white;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 15px;
        padding: 3px 5px;
        border-radius: 3px;
        opacity: 0.8;
      }